*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: whitesmoke;
}

.nav-bar{
    background-color: grey ;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.filter-container{

    height: 60%;
    width: 14rem;
    background-color: rgb(59,58,58);
    display: flex;
    margin-right: 4rem;
    border-radius: 0.2rem;
}

.filter{
    height:100%;
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_color{
    height: 40%;
    width: 40%;
    border-radius: 0.1rem;
}

.pink{
    background-color: #ff6b81;
}

.blue{
    background-color: #1e90ff;
}
.green{
    background-color: #2ed573;
}

.black{
    background-color: #222f3e;
}

.action-container{
    height: 60%;
    width : 8rem;
    background-color: rgb(59,58,58);
    display: flex;
    border-radius: 0.2rem;
}

.icon-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fas{
    font-size: 1.75rem;
    color : white
}

.main-container{
    height: 85vh;
    padding-top: 2rem;
    padding-left: 3rem;
    display: flex;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modal_container{
    position: absolute;
    height : 18rem;
    /* Variables ki value set kar sakte */
    width : 36rem;
    background-color: #d24d57;
    left:calc((100vw - 36rem) /2 );
    top:30vh;
    display: flex;  
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.623) 
}

.input_container{
    height: 100%;
    width :75%;
}
.input_box{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    outline: none;
}

.filter_container{
    width: 25%;
    background-color: rgb(59,58,58);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.filter_modal{
    width: 40%;
    height: 18%;
}

.border{
    border: 0.3rem solid black;
}

/* ticket-task */
/* .main-container{
    position: absolute;
    height: 85vh;
    display: flex;
    padding-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
.ticket_container{
    margin-top: 2rem;
    margin-left: 2rem;
    height: 9rem;
    width: 15rem;
    background-color: aqua;
    background-color: beige;
}

.priority_bar{
    height:10%;
    border-radius: 0.1rem;
}
.uid{
    text-align: center;
    margin-bottom: 0.1rem;
}
.desc_container{
    height : 70%;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    overflow-y: auto;
    word-break: break-all;
}
.desc{
    display: flex;
    justify-content: center;
}