body{
    box-sizing: border-box;
}

*{
    margin: 0px;
}


/*  Nav Bar Container */
.nav_bar{
    height : 3rem;
    background-color: #10ac84;
    font-family: 'Raleway', sans-serif;
    font-weight: 10;
    text-align: center;
    font-size: 42px;
}

/* Menu Container */
.menu_container{
    height : 12rem;
    background-color: #ffffff;
    border:1px solid #576574;
}






/* Formula conatiner */
.formula_container{
    height : 4rem;
    background-color: #ced6e0;
}


/* Grid Box Styling */
.grid_container{
    position : relative;
    height : calc(100vh - (3rem + 12rem + 4rem + 3rem));
    width: 100%;
    overflow: scroll;
}

.top_left_block{
    height : 1.5rem;
    width: 2rem;
    background: #576574;
    border: 1px solid grey;
}
/* Now Top row Elements */
.top_row{
    height : 1.5rem;
    background-color: #f1f2f6;
    display: flex;
    position: absolute;
    top: 1px;
    left: 2rem;
    align-items: center;
    text-align: center;
    
}

.top_col{
    height: 100%;
    min-width: 4rem;
    border: 1px solid grey;
    font-family: 'Raleway', sans-serif;
}

.left_col{
    
    text-align: center;
    
}
.left_col_box{
    border: 1px solid grey;
    font-family: 'Raleway', sans-serif;
    width: 2rem;
    height : 1.5rem;
}

.grid{
    position: absolute;
    top : 1.5rem;
    left: 2rem;
}
.row{
    display: flex;
}

.col {
    min-width: 4rem;
    border: 1px solid grey;
    min-height: 1.5rem;
}

