body{
    box-sizing: border-box;
}
*{
    margin: 0px;
}


.grid_container{
    position : relative;
    height : 38rem;
    overflow: scroll;
}

.top_left_block{
    height : 1.5rem;
    width: 2rem;
    background: #576574;
    border: 1px solid grey;
}
/* Now Top row Elements */
.top_row{
    height : 1.5rem;
    background-color: #f1f2f6;
    display: flex;
    position: absolute;
    top: 0px;
    left: 2rem;
    align-items: center;
    text-align: center;
}

.top_col{
    height: 100%;
    min-width: 4rem;
    border: 1px solid grey;
    font-family: 'Raleway', sans-serif;
}

.left_col{
    width: 2rem;
    height : 2rem;
    text-align: center;
    
}
.left_col_box{
    border: 1px solid grey;
    font-family: 'Raleway', sans-serif;
}

.grid{
    position: absolute;
    top : 1.5rem;
    left: 2rem;
}
.row{
    display: flex;
}

.col {
    min-width: 4rem;
    border: 1px solid grey;
    min-height: 1.5rem;
}

