*{
    box-sizing: border-box;
}

body{
    margin : 0px;
}

.nav-bar{
    height : 15vh;
    background-color: rgb(46, 49, 49);
    display:flex;
    align-items: center;
    padding-left: 5rem;
}
.filter-container{
    height: 60%;
    width: 14rem;
    background-color: rgb(149, 165, 166);
    display: flex;
    margin-right: 4rem;
    border-radius: 0.2rem;
}
.filter{
    height: 100%;
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter_color{
    height: 40%;
    width: 40%;
    border-radius: 0.2rem;
}

.pink{
    background-color: #d24d57;
}

.green{
    background-color: #00b16a;
}

.blue{
    background-color: #86e2d5;
}

.black{
    background-color: #24252a;
}


.icon-container{
    height: 100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas{
    font-size: 1.75rem;
    color: azure;
}

.operation-container{
    height: 60%;
    width: 8rem;
    background-color: rgb(149, 165, 166);
    display: flex;
    border-radius: 0.3rem;
}

.main_container{
    height: 85vh;
}

.task_box{
    position: absolute;
    height : 18rem;
    width : 36rem;
    background-color: #d24d57;
    left:30vw;
    top:30vh;
    display: flex;  
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.623) 
}

.input_section{
    width: 80%;
    background-color: #00b16a;
    display: flex;   
    justify-content: flex-start; 
}
.input_box{
    padding: 2rem 3rem;
    display: block;
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    /*  line between space */
    line-height: 145%;
    font-weight: 400;
    outline: none;
}

.color_selector{
    width: 20%;
    background: rgb(46, 49, 49);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    
}

.color_filter{
    display: flex;
}

.color{
    height: 12%;
    width: 50%;   
}


.border{
    border: 0.2rem solid rgb(15, 15, 15);
}