*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

.video_container{
    width: 100vw;
    height : 100vh;
    background-color: black;
}
.video_elem{
    height: 100%;
    width: 100%;
}

.record_btn{
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 20rem;
    right: 5rem;
    border-radius: 50%;
    z-index: 2;

}